@model IEnumerable<BlogProject.Models.Teacher> 
@{
ViewBag.Title = "List"; 
} 

<h2>List</h2> 
<nav stayle="width:40%; margin: 0 auto;">
    <a class="navlink" href="/Teacher/New/">New Teacher</a> "
</nav>

<form action="/Tecaher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>

<p>This page should be showing information about all Teachers</p> 
 

@foreach(var teacher in Model) 
{ 
<div><a href="/Teacher/Show/@teacher.TeacherId"> teacher.TeacherFname @teacher.TeacherLname</a></div> 
} 

